[submodule "XKCP"]
	path = XKCP
	url = git@github.com:XKCP/XKCP.git
[submodule "aes-fixslicing"]
	path = aes-fixslicing
	url = git@github.com:aadomn/aes.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
